ul {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  background: #333;
}
li {
  // margin-right: 1rem;
  color: #eee;
  text-transform: uppercase;
  padding: 1em;
  border-right: 1px solid #525252;
  cursor: pointer;
  &.active {
    background: #f5f5f5;
    color: #333;
  }
}